/* importing component */

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/cards.css");
@import url("components/align.css");
@import url("components/navbar.css");
@import url("components/textsection.css");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto");

body {
	font-family: Lora, serif;
	font-size: 18px;
}

h1, h2, h3 {
	font-family: Roboto, serif;
	font-size: 20px;
	font-weight: bold;
}

a {
	text-decoration: none;
}

#avatar {
	border-radius: 50%;
	width: 100px;
}

html {
	scroll-behavior: smooth;
}
